<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/design.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="profile"><img src="/static/assets/profile-user.png" width="30px" alt="">{{userid}}</div>
        <div class="bg">Welcome to IIT Indore</div>
        <a href="{{url_for('logout')}}"><button class="logout">Logout</button></a>
    </nav>
    <div class="container">
        <div class="welcome-logo"></div>
        <input id="searchCourse" onkeyup="search_course()" class="search" type="text"
            placeholder="Search for any course">
        <div class="table">
            <table id="course">
                <thead>
                    <tr>
                        <th style="flex: 1;">Course Code </th>
                        <th style="flex: 2;">Course Name </th>
                        <th style="flex: 1;">L-T-P</th>
                        <th style="flex: 1;">Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CS 103</td>
                        <td>Computer Programming</td>
                        <td>2-0-0</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>CS 153</td>
                        <td>Computer Programming Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 201</td>
                        <td>Discrete Mathematical Structures</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 202</td>
                        <td>Automata Theory and Logic</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 203</td>
                        <td>Data Structure and Algorithms</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 253</td>
                        <td>Data Structure and Algorithms Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 204</td>
                        <td>Design and Analysis of Algorithms</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 254</td>
                        <td>Design and Analysis of Algorithms Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 206</td>
                        <td>Login Design </td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 206</td>
                        <td>Login Design Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 207</td>
                        <td>Database and Information System</td>
                        <td>3-0-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 257</td>
                        <td>Database and Information System Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 208</td>
                        <td>Software Engineering</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 258</td>
                        <td>Software Engineering Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 302</td>
                        <td>Computer Graphics and Visualization</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 352</td>
                        <td>Computer Graphics and Visualization Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 304N</td>
                        <td>Computer Intelligence</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 354N</td>
                        <td>Computer Intelligence Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 306</td>
                        <td>Computer Networks</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 356</td>
                        <td>Computer Networks Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 309</td>
                        <td>Parallel Computing</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 359</td>
                        <td>Parallel Computing Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 303</td>
                        <td>Operating Systems</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 353</td>
                        <td>Operating Systems Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 305</td>
                        <td>Computer Architecture</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 355</td>
                        <td>Computer Architecture Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 307</td>
                        <td>Optimization Algorithms and Techniques</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 357</td>
                        <td>Optimization Algorithms and Techniques</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 308</td>
                        <td>Compiler Techniques</td>
                        <td>2-1-0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CS 358</td>
                        <td>Compiler Techniques Lab</td>
                        <td>0-0-3</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>CS 493</td>
                        <td>B Tech Project (BTP)</td>
                        <td>0-0-40</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    function search_course() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchCourse");
        filter = input.value.toUpperCase();
        table = document.getElementById("course");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

</html>